<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>homeServlet</display-name>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>home.homeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <display-name>SatgeS6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>home.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>home.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifierServlet</display-name>
    <servlet-name>modifierServlet</servlet-name>
    <servlet-class>home.modifierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifierServlet</servlet-name>
    <url-pattern>/modifierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supprimerServlet</display-name>
    <servlet-name>supprimerServlet</servlet-name>
    <servlet-class>home.supprimerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerServlet</servlet-name>
    <url-pattern>/supprimerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>home.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>home.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>home.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewpasswordServlet</display-name>
    <servlet-name>NewpasswordServlet</servlet-name>
    <servlet-class>home.NewpasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewpasswordServlet</servlet-name>
    <url-pattern>/NewpasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileServlet</display-name>
    <servlet-name>profileServlet</servlet-name>
    <servlet-class>home.profileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileServlet</servlet-name>
    <url-pattern>/profileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reclamationServlet</display-name>
    <servlet-name>reclamationServlet</servlet-name>
    <servlet-class>agent.reclamationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reclamationServlet</servlet-name>
    <url-pattern>/reclamationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demandServlet</display-name>
    <servlet-name>demandServlet</servlet-name>
    <servlet-class>agent.demandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demandServlet</servlet-name>
    <url-pattern>/demandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reclamationboxServlet</display-name>
    <servlet-name>reclamationboxServlet</servlet-name>
    <servlet-class>agent.reclamationboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reclamationboxServlet</servlet-name>
    <url-pattern>/reclamationboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchreclamationServlet</display-name>
    <servlet-name>searchreclamationServlet</servlet-name>
    <servlet-class>agent.searchreclamationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchreclamationServlet</servlet-name>
    <url-pattern>/searchreclamationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchdemandServlet</display-name>
    <servlet-name>searchdemandServlet</servlet-name>
    <servlet-class>agent.searchdemandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchdemandServlet</servlet-name>
    <url-pattern>/searchdemandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletedemandServlet</display-name>
    <servlet-name>deletedemandServlet</servlet-name>
    <servlet-class>agent.deletedemandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletedemandServlet</servlet-name>
    <url-pattern>/deletedemandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editdemandServlet</display-name>
    <servlet-name>editdemandServlet</servlet-name>
    <servlet-class>agent.editdemandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editdemandServlet</servlet-name>
    <url-pattern>/editdemandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editreclamationServlet</display-name>
    <servlet-name>editreclamationServlet</servlet-name>
    <servlet-class>agent.editreclamationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editreclamationServlet</servlet-name>
    <url-pattern>/editreclamationServlet</url-pattern>
  </servlet-mapping>
</web-app>